<%
  const postModel = await model('posts');

  const categoryModel = await model('categories');
  const { data: categories } = await categoryModel.list({ $limit: -1 });

  const { data: pinPosts } = await postModel.list({
    status: 'public',
    pin: true,
    $sort: { createdAt: -1 },
    $limit: -1
  });

  const { data: posts } = await postModel.list({
    status: 'public',
    pin: false,
    $sort: { createdAt: -1 }
  });
_%>
<%- await include('__header__') %>
<div class="max-w-3xl mx-auto px-4 py-8">
  <div class="text-primary-500 font-bold text-sm inline-flex items-center ml-[-.5em] mb-6">
    <ion-icon name="pricetag"></ion-icon>
    <span class="ml-3">Pin</span>
  </div>

  <%- await include('__posts__', { posts: pinPosts }) %>

  <div class="text-gray-500 text-sm flex items-center mb-6 mt-8 space-x-4">
    <a href="/blog" class="mactive:text-primary-500 mactive:font-bold" active>Latest</a>
    <% for (let category of categories){ %>
      <a href="/blog/<%= category.slug %>" class="mactive:text-primary-500 mactive:font-bold"><%= category.name %></a>
    <% } %>
  </div>

  <%- await include('__posts__', { posts }) %>

  <!-- <div class="flex space-x-1 items-center text-sm justify-center">
    <button class="m-button bg-secondary-500 px-4 py-2 rounded-lg inline-flex items-center text-white px-0 py-0 w-7 h-7 text-center justify-center" disabled="">
      <ion-icon class="text-base md hydrated" role="img" name="chevron-back"></ion-icon>
    </button>
    <button class="m-button bg-primary-500 px-4 py-2 rounded-lg inline-flex items-center text-white px-2 py-0 min-w-[1.75rem] h-7 text-center justify-center items-center leading-4">1</button>
    <button class="m-button bg-secondary-500 px-4 py-2 rounded-lg inline-flex items-center text-white px-2 py-0 min-w-[1.75rem] h-7 text-center justify-center items-center leading-4">2</button>
    <button class="m-button bg-secondary-500 px-4 py-2 rounded-lg inline-flex items-center text-white px-2 py-0 min-w-[1.75rem] h-7 text-center justify-center items-center leading-4">3</button>
    <button class="m-button bg-secondary-500 px-4 py-2 rounded-lg inline-flex items-center text-white px-2 py-0 min-w-[1.75rem] h-7 text-center justify-center items-center leading-4">4</button>
    <button class="m-button bg-secondary-500 px-4 py-2 rounded-lg inline-flex items-center text-white px-2 py-0 min-w-[1.75rem] h-7 text-center justify-center items-center leading-4">...</button>
    <button class="m-button bg-secondary-500 px-4 py-2 rounded-lg inline-flex items-center text-white px-0 py-0 w-7 h-7 text-center justify-center">
      <ion-icon class="text-base md hydrated" role="img" name="chevron-forward"></ion-icon>
    </button>
  </div> -->
</div>
<%- await include('__footer__') %>